.App {
  text-align: center;
}

.App-header {
  background-color: peachpuff;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.feelingDiv {
  text-align: center;
}

.understandingDiv {
  text-align: center;
}


.supportDiv {
  text-align: center;
}

.commentsDiv {
  text-align: center;
}

.reviewDiv {
  text-align: left;
  padding-left: 340px;
}

.reviewButton {
  margin-left: 50px;
}

.thankYouDiv {
  text-align: center;
}